.alarmas-badge-container { 

  text-align: right;
  padding-top: 8px !important;
}

.alarms-list-container {
  position: inherit;
  margin-top: 65px !important;
}

.mat-drawer-inner-container{
  width: 405px;
}

.sidenav-alarms
{
  margin-top: 65px;
}
